{% extends "index.html" %}
{% block title %}Asistencia{% endblock %}
{% block content %}
  <h1 class="Titulo" style="text-align: center;color: #80a22e;">Listado de asistencia</h1>
  <hr>
  <div class="container-fluid text-center" style="margin: 0 2rem;">
    {% if cursos %}
    <form action="{{ request.path }}" method = "POST" style="margin: 2rem 30rem;">
        <div class="row g-3 align-items-center">
          <div class="col-sm">
            <label for="fecha" class="col-form-label Subtitulo2">Fecha</label>
            <input type="date" name="fecha" id="fecha" class="form-control" aria-labelledby="passwordHelpInline">
          </div>
        </div>
        <div class="row g-3 align-items-center">
          <div class="col-sm">
            <label for="clase" class="col-form-label Subtitulo2">Clase</label>
            <select class="form-control bg-light" id="clase"name="clase">
              <option class="Texto1" value="1">Aula</option>
              <option class="Texto1" value="2">Educación Física</option>
            </select>
          </div>
        </div>
        <div class="row g-3 align-items-center">
          <div class="col-sm">
            <label for="cursos" class="col-form-label">Clase</label>
            <select class="form-control bg-light" id="cursos" name="cursos">
              {% for curso in cursos %}
                <option class="Texto1" value="{{ curso.id }}">{{ curso.anio }} - {{ curso.division }}</option>
              {% endfor %}
            </select>
            <input type="submit" value = "Buscar asistencia curso" class="btn btn-outline-secondary form-control-sm" style="margin: 2rem;">
          </div>
        </div>
    </form>
      {% else: %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col"class="Subtitulo2" style="color: #80a22e;">Apellido</th>
              <th scope="col" class="Subtitulo2" style="color: #80a22e;">Nombre</th>
              <th scope="col" class="Subtitulo2" style="color: #80a22e;" >Asistencia</th>
            </tr>
          </thead>
          <tbody>
            {% for estudiante in lista %}
              <tr>
                <th class="Texto1" style="font-weight: 600;">{{ estudiante['apellido'] }}</th>
                <td class="Texto1" style="font-weight: 600;">{{ estudiante['nombre'] }}</td>
                <td>
                  {% if estudiante['asistencia']=='s' %}
                    <span class="Texto1">Presente</span>
                  {% else %}
                    <span class="Texto1">Ausente</span>
                  {% endif %}
                </td>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    
  </div>
{% endblock %}
