{% extends "index.html" %}
{% block title %}Listado detallado{% endblock %}
{% block content %}
  <h1 class="Titulo" style="text-align: center;color: #80a22e;">Listado detallado de asistencia</h1>
  <hr>
  <form action="{{ request.path }}" method = "POST" class = "container-fluid text-center">

    {% if cursos  :%}
      <div class="row g-2 align-items-center" style="padding: 0 40rem;">
        <div class="col-sm justify-self-center">
          <label for="curso_id Subtitulo2">Cursos</label> <br>
          <select name="curso_id" id="curso_id"class="form-control bg-light form-control-sm">
          {% for curso in cursos %}
              <option class="Texto1" value="{{ curso.id }}">{{ curso.anio }} - {{ curso.division }}</option>
          {% endfor %}
          </select>
        </div>
      </div>
      <br><br>
      <input type="submit" value = "Buscar asistencia curso" class="btn btn-outline-secondary form-control-sm">
    {% else %}
      <div class="container-fluid" style="padding-top: 2rem">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"  class="Texto1" style="color: #80a22e;">Alumno</th>
                <th scope="col"  class="Texto1" style="color: #80a22e;">Clases de Aula Pres</th>
                <th scope="col"  class="Texto1" style="color: #80a22e;">Clases de Aula Jus</th>
                <th scope="col"  class="Texto1" style="color: #80a22e;">Clases de Aula InJus</th>
                <th scope="col"  class="Texto1" style="color: #80a22e;">Clases EF Pres</th>
                <th scope="col"  class="Texto1" style="color: #80a22e;">Clases EF Jus</th>
                <th scope="col"  class="Texto1" style="color: #80a22e;">Clases EF InJus</th>
                <th scope="col"  class="Texto1" style="color: #80a22e;">Total Inasistencias</th>
              </tr>
            </thead>
            <tbody>
              {% for e in lista %}
                <tr>
                  <th class="Texto1" scope = "row">{{ e['apellido'] }} {{ e['nombre']}}</th>
                  <td class="Texto1">{{ e['aulaP'] }}</td>
                  <td class="Texto1">{{ e['aulaJ']}}</td>
                  <td class="Texto1">{{ e['aulaI']}}</td>
                  <td class="Texto1">{{ e['efP']}}</td>
                  <td class="Texto1">{{ e['efJ']}}</td>
                  <td class="Texto1">{{ e['efI']}}</td>
                  <td class="Texto1">{{ e['total']}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    {% endif %}
    
  </form>
{% endblock %}
