{% extends "index.html" %}
{% block title %}Inicio de Sesión{% endblock %}
{% block content %}
  {% with messages = get_flashed_messages() %}
      {% if messages %}
          <ul class="error-messages">
              {% for message in messages %}
                  <li>{{ message }}</li>
              {% endfor %}
          </ul>
      {% endif %}
  {% endwith %}
  <main class="form-signin m-auto text-center" style="width: 50%; height: 50%;margin-bottom: -5rem;">
    <form method = 'POST', action="{{ url_for('login') }}" class="container-fluid" style="padding: 10rem;">
      <h1 class="Titulo" style="margin-bottom: 1.5rem; color: #80a22e;">Colegio San Miguel</h1>
      <div class="form-floating">
        <input type="email" class="form-control" id="correo" name="correo" placeholder="name@example.com">
        <label for="correo">Email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="clave" name="clave" placeholder="Password">
        <label for="clave">Contraseña</label>
      </div>
      <label for="rol">Usted es:</label>
      <select id="rol"class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="rol">
        <option value="preceptor">Preceptor</option>
        <option value="padre">Padre</option>
      </select>
      <button class="btn btn-outline-secondary w-100 py-2" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
    </form>
  </main>
{% endblock %}
